/* Header Container */
.header-container {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Logo */
.header-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

/* Search Bar */
.header-search-bar {
  position: relative;
  width: 50%;
}

.header-search-bar input {
  width: 100%;
  border-radius: 6px;
  border: none;
  padding: 10px;
  height: 35px;
  box-sizing: border-box;
}

.header-search-bar button {
  background-color: var(--primary-alpha);
  border: none;
  position: absolute;
  right: 0.8%;
  top: 11%;
  height: 80%;
  padding: 0 14px;
  border-radius: 4px;
  color: var(--primary-darker);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-search-bar button:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/* Language Dropdown */
.header-language-dropdown {
  position: relative;
  background: none;
  color: #fff;
  font-size: 16px;
}

.header-language-dropdown-btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.header-language-dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #fff;
  padding: 10px 0;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  min-width: 180px;
  z-index: 1;
}

.header-language-dropdown:hover .header-language-dropdown-content {
  display: block;
}

.header-language-dropdown-item {
  background: none;
  border: none;
  width: 100%;
  padding: 12px 16px;
  text-align: left;
  font-size: 15px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s ease;
}

.header-language-dropdown-item:hover {
  background-color: var(--primary-alpha);
  color: var(--primary-color);
}

/* Location */
.header-location {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #fff;
  font-size: 15px;
}

.header-menu-btn-logo > .header-login-cart {
  display: none;
}

/* Login/Signup and User Details */
.login-signup,
.header-user {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
}

.login-signup span,
.header-user-info h3 {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.header-user-image {
  width: 30px;
  height: 30px;
  background-color: #f3f3f3;
  border-radius: 100%;
}

.header-user-info {
  display: flex;
  flex-direction: column;
}

.header-user-info span {
  font-size: 12px;
  color: #000;
}

.header-user-info span:hover {
  text-decoration: underline;
}

/* Cart */
.header-cart {
  position: relative;
  margin-right: 20px;
}

.header-cart-icon {
  font-size: 24px;
  color: #fff;
}

.header-cart-badge {
  width: 18px;
  height: 18px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  right: -50%;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Side Menu Bar */

.side-menu-container {
  position: relative;
  z-index: 10;
  display: none;
}

.side-menu-icon {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  color: #fff;
}

.side-menu-slide {
  position: fixed;
  top: 0;
  left: 0;
  width: 30vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}
.side-menu-top{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.side-menu-slide.open {
  width: 300px;
  transform: translateX(0);
}

.side-menu-links {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
}

.side-menu-links li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  padding: 8px 20px;
  transition: background-color 0.2s ease;
  color: #000;
}

.side-menu-links li:hover {
  background-color: var(--primary-alpha);
  color: var(--primary-darker);
}

.menu-icon {
  font-size: 18px;
  margin-right: 10px;
  background-color: var(--primary-alpha); 
  padding: 8px;
  border-radius: 100%;
  color: var(--primary-darker);
}

.side-menu-profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.side-menu-profile-info h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.side-menu-manage-link {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.side-menu-manage-link:hover {
  color: #0056b3;
}

.side-menu-header-close {
  padding: 10px;
  text-align: right;
  color: #000;
  font-size: 25px;
}
.side-menu-profile-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 20px 0;
}

.side-menu-profile-image {
  width: 80px;
  height: 80px;
  background-color: #d8d8d8;
  border-radius: 50%;
}

.side-menu-signout {
  padding: 20px;
}

.side-menu-signout span {
  display: flex;
  align-items: center;
  color: #000;
  gap: 5px;
}

/* Header Nav */
.header-nav {
  width: 100%;
  height: 35px;
  background-color: #9172ec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}

.header-nav > ul {
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

.header-nav ul li {
  color: #fff;
  letter-spacing: 1px;
  font-size: 15px;
}

.header-nav ul li:hover {
  color: #f8f5f5;
}

/* Main dropdown container */
.categories-droplist {
  position: absolute;
  color: #000;
  min-width: 250px;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px 0;
  box-sizing: border-box;
  z-index: 100;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories-droplist ul {
  display: flex;
  flex-direction: column;
  list-style: none;
    padding: 0;
    line-height: 30px;
}

.category-item {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-inline: 15px;
}                                                                               
.category-label{
  color: #000;
}
.categories-icon {
  width: 20px;
  height: 20px;
  background-color: #a58bf38c;
  border-radius: 50%;
  padding: 2px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6a3eec;
}

.category-item:hover {
  background-color: var(--primary-alpha);
}
.category-item:hover .category-label{
  color: #6a3eec;
}


/* Subcategory dropdown */
.categories-droplist-options {
  position: absolute;
  left: 101%;
  top: 0;
  min-width: 250px;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
}

.categories-droplist-options ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.category-option {
  padding: 5px 20px;
  width: 100%;
  color: #000;
  text-align: left;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.category-option:hover {
  background-color: #f0f0f0;
  color: #6a3eec;
}

.nav-btns{
  display: none;
  gap: 20px;
}

.side-menu-icon{
  font-size: 20px;
}
.closed-side-menu{
  display: none;
}

/* Responsive Styles */
@media (max-width: 1250px) {
  .header-search-bar {
    width: 40%;
  }
}

@media (max-width: 1020px) {
  .header-container > .header-language-dropdown, .header-container > .header-location {
    display: none;
  }
  .nav-btns {
    display: flex;
  }
  .header-search-bar {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .header-search-bar {
    width: 30%;
  }
  .side-menu-container {
    display: flex;
  }
  .header-nav > ul > li:nth-child(n+2) {
    display: none;
  }
  .header-menu-logo{
    display: flex;
    align-items: center;
  }
}

@media (max-width: 660px) {
  .header-container {
    flex-direction: column;
    height: 100px;
    padding: 10px;
  }
  .header-menu-btn-logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .categories-droplist-options {
    display: none;
  }
  .header-search-bar {
    width: 100%;
  }
  .header-menu-btn-logo > .header-login-cart {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .header-container > .login-signup, .header-container > .header-user ,   .header-container > .header-cart{
    display: none;
  }
}

@media (max-width: 450px) {
  .header-menu-btn-logo > .header-login-cart > .login-signup span {
    font-size: 0.7rem;
  }
  .login-icon{
    font-size: 0.8rem;
  }
  .side-menu-slide.open {
    width: 250px;
    transform: translateX(0);
  }  
  .login-icon {
    font-size: 0.7rem;
  }
  .header-container {
    padding-inline: 5px;
  }
  .header-menu-btn-logo .header-login-cart {
    gap: 10px;
  }
  .header-logo h1, .side-menu-icon {
    font-size: 1rem;
  }
  .header-user-info h3 {
    font-size: 0.7rem;
  }
  .header-user-info span {
    font-size: 0.6rem;
  }
  .header-nav ul li, .nav-btns .header-location, .header-language-dropdown-btn {
    font-size: 0.8rem;
  }
  .header-cart-icon {
    font-size: 14px;
  } 
  .header-cart-badge {
    width: 12px;
    height: 12px;
    font-size: 7px;
  }
  .header-user {
    gap: 5px;
  }
  .header-user-image {
    width: 25px;
    height: 25px;
  }
}